# build output
apps/client/dist/

# generated types
apps/client/.astro/

# dependencies
node_modules/

# logs
apps/client/npm-debug.log*
apps/client/yarn-debug.log*
apps/client/yarn-error.log*
apps/client/pnpm-debug.log*

# environment variables
apps/client/.env
apps/client/.env.production

# macOS-specific files
apps/client/.DS_Store

.venv