<card
  class='relative mt-2 h-64 w-full min-w-[320px] max-w-[410px] flex-1 cursor-pointer rounded-md p-6 shadow-md transition duration-200 hover:scale-[1.02] sm:min-w-[400px] md:min-w-[400px]'
>
  <element class='absolute left-1/2 top-0 z-0 w-full -translate-x-1/2'>
    <img class='w-full' src='/images/card_grid.svg' alt='card grid' />
  </element>
  <content class='relative z-[1] flex h-full flex-col gap-2'>
    <tag
      class='flex w-fit items-center gap-2 rounded-md bg-teal-400 px-2 py-2 text-sm font-medium'
    >
      <ion-icon name='calendar-outline' class='text-xl'></ion-icon>
      <span>Mar 18</span>
      <span>•</span>
      <span>5601 W Loop S, Houston</span>
    </tag>
    <h1 class='text-2xl font-extrabold text-slate-800'>Deep Fake Technology</h1>
    <p class='text-sm font-light text-slate-800'>
      Dive into the fascinating intersection of AI and creativity, we present
      the most awaited collaboration of the ....
    </p>
    <img
      class='h-16 w-full rounded-md object-cover object-bottom'
      src='https://i.ibb.co/h9Bs2p8/NAFEB232024-1.png'
      alt='Deep Fake Technology'
    />
  </content>
</card>
