---
const YEAR = new Date().getFullYear()
---

<main
  class='container relative flex min-h-[400px] w-full max-w-none flex-col items-center overflow-hidden bg-black'
>
  <section
    class='container relative z-[5] flex h-full max-w-screen-xl flex-col justify-between px-6 sm:px-9 md:flex-row'
  >
    <section
      class='container z-[5] flex h-full flex-col gap-2 px-0 py-12 md:py-24'
    >
      <div class='z-50 flex items-center gap-2'>
        <img class='h-10 w-auto' src='/images/logo.png' alt='' />
      </div>
      <div
        class='relative mt-5 flex w-full max-w-96 rounded-md border-2 border-[#ffffff1a] bg-[#ffffff1a]'
      >
        <input
          type='text'
          placeholder='Enter your email address'
          class='h-12 w-4/6 flex-1 border-none bg-transparent px-3 text-sm outline-none md:text-base'
        />
        <button class='h-12 rounded-md bg-teal-400 px-3 font-bold'
          >Subscribe</button
        >
      </div>
      <p class='text-sm font-light'>
        By opting-in you agree to our <span class='text-teal-400'
          >privacy policy</span
        >
      </p>
      <div class='mt-5 flex w-fit gap-3'>
  <a href="https://github.com/HCC-Computer-Science-Association">
    <ion-icon
      name='logo-github'
      class='cursor-pointer text-3xl text-teal-400'></ion-icon>
  </a>
  <a href="https://www.linkedin.com/company/compscia/">
    <ion-icon
      name='logo-linkedin'
      class='cursor-pointer text-3xl text-teal-400'></ion-icon>
  </a>
  <a href="https://discord.gg/5Q3zCFMtaK">
    <ion-icon
      name='logo-discord'
      class='cursor-pointer text-3xl text-teal-400'></ion-icon>
  </a>
</div>
    </section>
    <section
      class='container z-[5] flex h-full max-w-screen-xl flex-row flex-wrap justify-start gap-12 px-0 py-6 md:justify-end md:gap-24 md:py-24'
    >
      <div class='flex flex-col'>
        <span class='text-sm font-extrabold text-teal-400'>EVENTS</span>
        <a class='mt-4 text-sm font-light' href='#'>Deep Fake...</a>
        <a class='mt-4 text-sm font-light' href='#'>"You are IT!"</a>
        <a class='mt-4 text-sm font-light' href='#'>More Events</a>
      </div>
      <div class='flex flex-col'>
        <span class='text-sm font-extrabold text-teal-400'>RESOURCES</span>
        <a class='mt-4 text-sm font-light' href='#'>Computer Science</a>
        <a class='mt-4 text-sm font-light' href='#'>Programming</a>
        <a class='mt-4 text-sm font-light' href='#'>Platforms</a>
        <a class='mt-4 text-sm font-light' href='#'>Other Resources</a>
      </div>
      <div class='flex flex-col'>
        <span class='text-sm font-extrabold text-teal-400'>ABOUT US</span>
        <a class='mt-4 text-sm font-light' href='#'>Mission</a>
        <a class='mt-4 text-sm font-light' href='#'>Board Members</a>
        <a class='mt-4 text-sm font-light' href='#'>History</a>
      </div>
    </section>
  </section>
  <circle
    class=`absolute top-[-200px] left-0 w-300 h-300 md:w-400 md:h-400 rounded-full bg-indigo-950 z-[1]`
  ></circle>
  <circle
    class=`absolute top-[-150px] right-[-100px] md:top-[-200px] md:right-[-100px] w-400 h-400 md:w-400 md:h-400  rounded-full bg-sky-400 z-[1]`
  ></circle>
  <overlay
    class='absolute left-0 top-0 z-[2] h-full w-full bg-[#ffffff1a] backdrop-blur-4xl md:backdrop-blur-4xl'
  ></overlay>
  <copyright class='z-[5] px-3 py-6 text-center text-xs text-white md:pb-6'>
    © Computer Science Association, {YEAR} | All rights Reserved
  </copyright>

  <!-- <texture
    class="absolute left-0 top-0 z-[3] h-full w-full bg-[url('/texture.png')] bg-75% opacity-10"
  ></texture> -->
</main>
