---
import Layout from '@layouts/Layout.astro'
import Header from '@components/Header.astro'
import Hero from '@layouts/Hero.astro'
import Footer from '@components/Footer.astro'
import PhotoCard from '../../components/PhotoCard.astro'

import { albums } from '@utilities/dummyData'

const photoLinks = albums.flatMap((album) => album.photos)
---

<Layout title='CSA | Gallery'>
  <Header page='gallery' />
  <Hero>
    <section
      class='container relative z-[5] mt-10 flex h-full max-w-screen-xl flex-col justify-end gap-8 px-0 py-24'
    >
      <h1 class='text-4xl font-extrabold leading-snug text-white sm:text-7xl'>
        <div
          class='text-shadow-csa inline-block bg-gradient-to-b text-teal-400'
        >
          Gallery
        </div>
      </h1>
      <h3 class='text-md max-w-xl text-sm leading-8 text-white sm:text-base'>
        Browse through a collection of photos and videos showcasing the vibrant
        spirit and camaraderie of our community as we explore the frontiers of
        technology together.
      </h3>
      <buttons class='mt-5 flex flex-col gap-5 sm:flex-row'>
        <a
          href='/register'
          class='transform rounded-md bg-teal-400 px-16 py-3 font-bold shadow-csa transition duration-200 hover:scale-105'
          >Join Now</a
        >
        <button
          class='flex transform items-center justify-center gap-3 rounded-md border border-white px-6 py-3 font-semibold transition duration-200 hover:scale-105'
        >
          <ion-icon name='caret-down-circle-outline' class='text-2xl'
          ></ion-icon>
          Explore
        </button>
      </buttons>
    </section>
  </Hero>

  <main
    class='container relative flex w-full max-w-none flex-col items-center px-6 py-12'
  >
    <section
      class='container relative z-[5] flex h-full max-w-screen-xl flex-col items-center gap-8'
    >
      <searchbar
        class='absolute left-0 top-[-75px] flex h-[60px] w-full items-center justify-between gap-3 rounded-md bg-white px-6 py-3 shadow-md'
      >
        <links
          class='hidden gap-5 px-3 text-lg font-semibold text-slate-800 md:flex'
        >
          <a href='/gallery'>Albums</a>
          <a href='/gallery/photostream' class='font-bold text-teal-400'
            >Photostream</a
          >
        </links>
        <search class='flex w-full items-center gap-7 md:w-fit'>
          <ion-icon
            name='search-outline'
            class='text-2xl font-extrabold text-slate-800'></ion-icon>
          <input
            type='text'
            placeholder='Search for events'
            class='h-full flex-1 text-slate-800 outline-none'
          />
          <ion-icon
            name='filter-outline'
            class='text-2xl font-extrabold text-slate-800'></ion-icon>
        </search>
      </searchbar>
      <links
        class='mb-[-25px] mt-5 flex w-full gap-5 px-3 text-lg font-semibold text-slate-800 md:hidden'
      >
        <a href='#' class='font-bold text-teal-400'>Albums</a>
        <span>/</span>
        <a href='#'>Photostream</a>
      </links>
    </section>
  </main>
  <main
    class='container relative flex w-full max-w-none flex-col items-center px-6 pb-12'
  >
    <section
      class='container relative z-[5] flex h-full max-w-screen-xl flex-col items-center gap-8'
    >
      <cards class='flex w-full flex-wrap gap-5 px-2'>
        <!-- <PhotoCard />
        <PhotoCard />
        <PhotoCard />
        <PhotoCard />
        <PhotoCard />
        <PhotoCard />
        <PhotoCard /> -->
        {photoLinks.map((photoLink) => <PhotoCard link={photoLink} />)}
      </cards>
    </section>
  </main>
  <Footer />
</Layout>
